<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div class="container">
      <div class="row">
        <div id="about-cljsjs" class="five columns">
          <img id="logo" style="width: 100%; height: auto" src="/cljsjs.png">
        </div>
        <div id="what-is-cljsjs" class="seven columns">
          <p class="huge">An easy way for Clojurescript developers
            to depend on Javascript libraries.</p>
        </div>
      </div>
      <div id="currently-available" class="row">
        <p>
          <button id="show-packages">
            See what's already available
          </button>
        </p>
      </div>
      <div id="whats-in-the-box">{{content}}</div>
    </div>
    <script>
      (function() {
        var button = document.getElementById('show-packages'),
            container = document.getElementById('currently-available'),
            packagesUrl = null,
            iframe = document.createElement('iframe');

        packagesUrl = (window.location.href.indexOf('localhost') > -1) ?
          'http://localhost:3000' : 'https://cljsjs.github.io/packages';

        iframe.src = packagesUrl;
        iframe.style.width = '720px';
        iframe.style.height = '500px';
        iframe.style.border = 'none';
        iframe.style.margin = '0 auto';

        button.onclick = function(e) {
          container.innerHTML = '';
          container.appendChild(iframe);
        };
      }())
    </script>
  </body>
</html>
